USE [Gestiondeclientes]
GO
/****** Object:  Table [dbo].[cargos]    Script Date: 24/12/2024 21:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cargos](
	[id_cargo] [int] IDENTITY(1,1) NOT NULL,
	[nombre_cargo] [nvarchar](50) NOT NULL,
	[activo_cargo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cargo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[departamentos]    Script Date: 24/12/2024 21:47:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[departamentos](
	[id_departamento] [int] IDENTITY(1,1) NOT NULL,
	[nombre_departamento] [nvarchar](50) NULL,
	[activo_departamento] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_departamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[empleados]    Script Date: 24/12/2024 21:47:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empleados](
	[id_empleado] [int] IDENTITY(1,1) NOT NULL,
	[nombre_empleado] [nvarchar](20) NOT NULL,
	[direccion_empleado] [nvarchar](100) NOT NULL,
	[fecha_nacimiento_empleado] [date] NOT NULL,
	[telefono_empleado] [nvarchar](80) NOT NULL,
	[salario_empleaado] [money] NOT NULL,
	[id_departamento] [int] NOT NULL,
	[id_cargo] [int] NOT NULL,
	[activo_empleado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[cargos] ON 

INSERT [dbo].[cargos] ([id_cargo], [nombre_cargo], [activo_cargo]) VALUES (1, N'Gerente', 1)
INSERT [dbo].[cargos] ([id_cargo], [nombre_cargo], [activo_cargo]) VALUES (2, N'Analista', 1)
INSERT [dbo].[cargos] ([id_cargo], [nombre_cargo], [activo_cargo]) VALUES (4, N'Asistente', 1)
SET IDENTITY_INSERT [dbo].[cargos] OFF
GO
SET IDENTITY_INSERT [dbo].[departamentos] ON 

INSERT [dbo].[departamentos] ([id_departamento], [nombre_departamento], [activo_departamento]) VALUES (1, N'Venta', 1)
INSERT [dbo].[departamentos] ([id_departamento], [nombre_departamento], [activo_departamento]) VALUES (2, N'Marketing', 1)
INSERT [dbo].[departamentos] ([id_departamento], [nombre_departamento], [activo_departamento]) VALUES (3, N'Recursos Humanos', 1)
SET IDENTITY_INSERT [dbo].[departamentos] OFF
GO
SET IDENTITY_INSERT [dbo].[empleados] ON 

INSERT [dbo].[empleados] ([id_empleado], [nombre_empleado], [direccion_empleado], [fecha_nacimiento_empleado], [telefono_empleado], [salario_empleaado], [id_departamento], [id_cargo], [activo_empleado]) VALUES (1, N'Pepe Paredes', N'Moron', CAST(N'2000-03-20' AS Date), N'1154565755', 50000.0000, 2, 1, 1)
INSERT [dbo].[empleados] ([id_empleado], [nombre_empleado], [direccion_empleado], [fecha_nacimiento_empleado], [telefono_empleado], [salario_empleaado], [id_departamento], [id_cargo], [activo_empleado]) VALUES (2, N'Carlos Mamani', N'La Boca', CAST(N'1995-02-09' AS Date), N'1139432234', 200000.0000, 5, 1, 1)
INSERT [dbo].[empleados] ([id_empleado], [nombre_empleado], [direccion_empleado], [fecha_nacimiento_empleado], [telefono_empleado], [salario_empleaado], [id_departamento], [id_cargo], [activo_empleado]) VALUES (3, N'Julian Alvarez', N'Olivos', CAST(N'1990-02-02' AS Date), N'1122334532', 900000.0000, 3, 4, 1)
SET IDENTITY_INSERT [dbo].[empleados] OFF
GO
ALTER TABLE [dbo].[empleados]  WITH CHECK ADD  CONSTRAINT [FK_empleados_cargos] FOREIGN KEY([id_cargo])
REFERENCES [dbo].[cargos] ([id_cargo])
GO
ALTER TABLE [dbo].[empleados] CHECK CONSTRAINT [FK_empleados_cargos]
GO
ALTER TABLE [dbo].[empleados]  WITH CHECK ADD  CONSTRAINT [FK_empleados_departamentos] FOREIGN KEY([id_departamento])
REFERENCES [dbo].[departamentos] ([id_departamento])
GO
ALTER TABLE [dbo].[empleados] CHECK CONSTRAINT [FK_empleados_departamentos]
GO
/****** Object:  StoredProcedure [dbo].[SP_ACTUALIZAR_EMPLEADO]    Script Date: 24/12/2024 21:47:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_ACTUALIZAR_EMPLEADO]

@cId int,
@cNombre varchar(20),
@cDireccion varchar(100),
@cFechaNacimiento date,
@cTelefono nvarchar(80),
@cSalario money,
@cIddepartamento int,
@cIdcargo int

AS

	UPDATE empleados SET

	nombre_empleado = @cNombre,
	direccion_empleado = @cDireccion,
	fecha_nacimiento_empleado = @cFechaNacimiento,
	telefono_empleado = @cTelefono,
	salario_empleaado = @cSalario,
	id_departamento = @cIddepartamento,
	id_cargo = @cIdcargo

	where id_empleado = @cId
GO
/****** Object:  StoredProcedure [dbo].[SP_DESACTIVAR_EMPLEADO]    Script Date: 24/12/2024 21:47:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DESACTIVAR_EMPLEADO]
@nIdEmpleado int
AS

	UPDATE empleados SET activo_empleado = 0 
	where id_empleado = @nIdEmpleado
GO
/****** Object:  StoredProcedure [dbo].[SP_GUARDAR_EMPLEADOS]    Script Date: 24/12/2024 21:47:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GUARDAR_EMPLEADOS]

@cNombre varchar(20),
@cDireccion varchar(100),
@cFechaNacimiento date,
@cTelefono nvarchar(80),
@cSalario money,
@cIddepartamento int,
@cIdcargo int

AS

	INSERT INTO empleados(

		nombre_empleado,
		direccion_empleado,
		fecha_nacimiento_empleado,
		telefono_empleado,
		salario_empleaado,
		id_departamento,
		id_cargo,
		activo_empleado
	)
	VALUES(
	
	@cNombre,
	@cDireccion,
	@cFechaNacimiento,
	@cTelefono,
	@cSalario,
	@cIddepartamento,
	@cIdcargo,
	1
	
	)
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_CARGOS]    Script Date: 24/12/2024 21:47:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LISTAR_CARGOS]
AS
BEGIN

	SELECT id_cargo,nombre_cargo FROM cargos
	WHERE activo_cargo = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_DEPARTAMENTOS]    Script Date: 24/12/2024 21:47:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LISTAR_DEPARTAMENTOS]
AS
BEGIN
    SELECT 
        id_departamento,
        nombre_departamento
    FROM 
        departamentos
    WHERE 
        activo_departamento = 1;
END;

GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_EMPLEADOS]    Script Date: 24/12/2024 21:47:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_LISTAR_EMPLEADOS]

@cBusqueda varchar(100) = ''
As
SELECT 

	id_empleado AS[ID],
	nombre_empleado AS[NOMBRE],
	d.nombre_departamento AS[DEPARTAMENTO],
	c.nombre_cargo AS[CARGO],
	e.salario_empleaado AS[SALARIO],
	e.direccion_empleado AS [DIRECCION],
	e.telefono_empleado AS [TELEFONO],
	e.fecha_nacimiento_empleado AS [FECHA NACIMIENTO]


FROM empleados e
INNER JOIN departamentos d On e.id_departamento = d.id_departamento
INNER JOIN cargos c ON e.id_cargo = c.id_cargo
where e.activo_empleado = 1 AND

UPPER(e.nombre_empleado )+
UPPER(d.nombre_departamento) +
UPPER(c.nombre_cargo)

LIKE '%'+UPPER(@cBusqueda)+ '%'
GO
